a {
  color: #88f;
}

a:visited {
  color: #800;
}

.efBackground {
  background-color: #345;
  color: #bbb;
}

.efDialog {
  background-color: #444;
  border: 1px solid #bbb;
  color: #bbb;
}

.efDialogTranslucent {
  background-color: #444d;
  border: 1px solid #bbb;
  color: #bbb;
}

.efDialogEthereal {
  background-color: #225e;
  border: 1px solid #bbb;
  color: #bbb;
}

.efButton {
  background-color: #555;
  border: 1px solid #aaa;
  color: #ccc;
}

.efButtonCantAfford {
  background-color: #555;
  border: 1px solid #666;
  color: #777;
}

.efTextCantAfford {
  color: #777;
}

.efButtonHighlighted {
  background-color: #888;
  border: 1px solid #ddd;
  color: #ddd;
}

.efButtonTranslucent {
  background-color: #0000;
  border: 1px solid #bbb;
  color: #bbb;
}

.efButtonTranslucent:hover {
  background-color: #fff1;
}

.efButtonTranslucentCantAfford {
  background-color: #0000;
  border: 1px solid #777;
  color: #777;
}

.efButtonTranslucentCantAfford:hover {
  background-color: #fff1;
}

.efInfo {
  border: 1px solid #888;
}

.efSeasonBgSpring {
  background-color: #fff1;
  color: #8d4;
}

.efSeasonBgSummer {
  background-color: #fff1;
  color: #dc0;
}

.efSeasonBgAutumn {
  background-color: #fff1;
  color: #c96;
}

.efSeasonBgWinter {
  background-color: #fff1;
  color: #dde;
}

.efUpgradeChip {
  background-color: #333;
  border: 1px solid #990;
}

.efEtherealUpgradeChip {
  background-color: #226;
  border: 1px solid #880;
}

.efPlantChip {
  background-color: #010;
  border: 1px solid #090;
}

.efEtherealPlantChip {
  background-color: #7bd;
  border: 1px solid black;
  color: #000;
}

.efWeatherOn {
  text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
  color: #f00;
}

.efWeatherOff {
  text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
  color: #000;
}

.efWatercressHighlight {
  text-shadow: 0 0 0.3em #0f0;
}

.efWarningOnDialogText {
  color: #f88;
}

/* Indicates the element is scrollable, especially in case the device decides not to show scrollbars.
There exists a scrollbox concept in CSS that can automatically make the shadows appear/disappear,
but it doesn't work on translucent background, so cannot use it here. So this must be combined with some JS*/
.efScrollGradient {
  background:
  radial-gradient(farthest-side at 50% 0, #fff3, #fff0), radial-gradient(farthest-side at 50% 100%, #fff3, #fff0) 0 100%;
  background-repeat: no-repeat;
	background-size: 100% 5%, 100% 5%, 100% 5%, 100% 5%;
}

.efAutomatonManual {
  color: #fff;
  background-color: #800;
}

.efAutomatonAuto {
  color: #fff;
  background-color: #080;
}

.efAutomatonGlobalOff {
  color: #fff;
  background-color: #888;
}

.efDropDown {
  color: #bbb;
  background-color: #444;
  border: 1px solid #bbb;
}

.efConnector {
  background-color: #fff;
}

.efSquirrelBought {
  background-color: #4a4;
  color: #0f0;
  border: 1px solid #990;
}

.efSquirrelBuy {
  background-color: #aa4;
  color: #000;
  border: 1px solid #990;
}

.efSquirrelNext {
  background-color: #400;
  border: 1px solid #100;
}

.efSquirrelUnknown {
  background-color: #444;
  border: 1px solid #100;
}

.efSquirrelGated {
  background-color: #4aa;
  color: #044;
  border: 1px solid #100;
}

.efAmberInfo {
  color: #d80;
}

.efButtonAmberActive {
  background-color: #555;
  border: 1px solid #d80;
  color: #d80;
}

.efStatsValue {
  color: #fff;
}


