a {
  color: #88f;
}

a:visited {
  color: #800;
}

.efBackground {
  background-color: #345;
  color: #bbb;
}

.efDialog {
  background-color: #444;
  border: 1px solid #bbb;
  color: #bbb;
}

.efDialogTranslucent {
  background-color: #444d;
  border: 1px solid #bbb;
  color: #bbb;
}

.efDialogEthereal {
  background-color: #208e;
  border: 1px solid #bbb;
  color: #bbb;
}

.efButton {
  background-color: #555;
  border: 1px solid #aaa;
  color: #ccc;
  box-sizing: border-box;
}

.efButtonCantAfford {
  background-color: #555;
  border: 1px solid #666;
  color: #777;
  box-sizing: border-box;
}

.efButtonHighlighted {
  background-color: #888;
  border: 1px solid #ddd;
  color: #ddd;
  box-sizing: border-box;
}

.efInfo {
  border: 1px solid #888;
}

.efSeasonBgSpring {
  background-color: #263713;
}

.efSeasonBgSummer {
  background-color: #22431b;
}

.efSeasonBgAutumn {
  background-color: #634e2c;
}

.efSeasonBgWinter {
  background-color: #445;
}

.efUpgradeChip {
  background-color: #640;
  border: 1px solid #990;
}

.efEtherealUpgradeChip {
  background-color: #226;
  border: 1px solid #880;
}

.efPlantChip {
  background-color: #010;
  border: 1px solid #090;
}

.efEtherealPlantChip {
  background-color: #9df;
  border: 1px solid black;
  color: #000;
}

.efWeatherOn {
  text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
  color: #f00;
}

.efWeatherOff {
  text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
  color: #000;
}

.efWatercressHighlight {
  text-shadow: 0 0 0.3em #0f0;
}

.efWarningOnDialogText {
  color: #f88;
}

/* Indicates the element is scrollable, especially in case the device decides not to show scrollbars.
There exists a scrollbox concept in CSS that can automatically make the shadows appear/disappear,
but it doesn't work on translucent background, so cannot use it here. So this must be combined with some JS*/
.efScrollGradient {
  background:
  radial-gradient(farthest-side at 50% 0, #fff3, #fff0), radial-gradient(farthest-side at 50% 100%, #fff3, #fff0) 0 100%;
  background-repeat: no-repeat;
	background-size: 100% 5%, 100% 5%, 100% 5%, 100% 5%;
}


